<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Equipo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>

    <div class="container mt-5">
        <h2 class="mb-4">Asignar Equipo</h2>
        <form action="{{ url_for('asignar_equipo', equipo_id=equipo_id) }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="persona_id">Persona:</label>
                <select class="form-select" id="persona_id" name="persona_id" required>
                    {% for persona in personas %}
                        <option value="{{ persona.id }}">{{ persona.nombres }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="estado_equipo_id">Estado del Equipo:</label>
                <select class="form-select" id="estado_equipo_id" name="estado_equipo_id" required>
                    {% for estado in estados_equipo %}
                        <option value="{{ estado.id }}">{{ estado.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="fecha_asignacion">Fecha de Asignación:</label>
                <input type="date" class="form-control" id="fecha_asignacion" name="fecha_asignacion" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Asignar Equipo</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
