<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Persona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #007bff;
        }
        h3 {
            color: #343a40;
        }
        h4 {
            color: #28a745;
        }
        p {
            color: #6c757d;
        }
    </style>
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>

    <div class="container mt-5">
        <h2>Detalle de Persona</h2>
        <hr>
        <div>
            <h3>{{ persona.nombres }}</h3>
            <table class="table table-bordered mt-3">
                <tbody>
                    <tr>
                        <th>Correo:</th>
                        <td>{{ persona.correo }}</td>
                    </tr>
                    <tr>
                        <th>Área:</th>
                        <td>{{ persona.area_nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h4>Equipos Asignados:</h4>
            <ul>
            {% for equipo in equipos %}
            <li><a href="{{ url_for('detalle_equipo', equipo_id=equipo.id, tipo_equipo_id=equipo.tipo_equipo_id) }}">{{ equipo.nombre }}</a></li>
            {% endfor %}
            </ul>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
