<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Equipo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .fixed-navbar .container {
            max-width: 1000px;
        }

        .fixed-navbar .navbar-brand img {
            max-width: 150px;
        }

        .fixed-navbar .navbar-nav .nav-item .nav-link {
            white-space: nowrap;
        }

        .fixed-navbar .dropdown-menu {
            min-width: 200px;
        }

        body {
            overflow-x: hidden;
        }

        .container {
            max-width: 1000px;
            margin: 20px auto;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .custom-form {
            max-width: 600px;
            margin: 0 auto;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 0.8rem;
        }

        .form-group:not(:last-child) {
            margin-bottom: 4px;
        }

        label {
            font-size: 1rem;
        }

        input[type="text"],
        select,
        textarea {
            font-size: 1rem;
            padding: 0.2rem 0.5rem;
        }
    </style>
</head>

<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <div class="container mt-4">
        <form action="{{ url_for('editar_equipo', id=equipo.id) }}" method="POST" class="custom-form">
            <h1 class="mb-3">Editar Equipo</h1>
            {% if detalle_equipo %}
                {% if tipo_equipo == 'unidad' %}
                    {% if detalle_equipo['nombre_e'] %}
                        <div class="form-group">
                            <label for="nombre">Nombre de la Unidad:</label>
                            <input type="text" id="nombre" name="nombre" value="{{ detalle_equipo['nombre_e'] }}">
                        </div>
                    {% endif %}
                {% elif tipo_equipo == 'celular' %}
                    {% if detalle_equipo['nombre'] %}
                        <div class="form-group">
                            <label for="nombre">Nombre del Celular:</label>
                            <input type="text" id="nombre" name="nombre" value="{{ detalle_equipo['nombre'] }}">
                        </div>
                    {% endif %}
                {% endif %}
                {% if detalle_equipo['marca'] %}
                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <input type="text" class="form-control" id="marca" name="marca" value="{{ detalle_equipo['marca'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['modelo'] %}
                    <div class="form-group">
                        <label for="modelo">Modelo:</label>
                        <input type="text" class="form-control" id="modelo" name="modelo" value="{{ detalle_equipo['modelo'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['serial'] %}
                    <div class="form-group">
                        <label for="serial">Serial:</label>
                        <input type="text" class="form-control" id="serial" name="serial" value="{{ detalle_equipo['serial'] }}">
                    </div>
                {% endif %}
            {% endif %}
            {% if tipo_equipo == 'unidad' %}
                {% if detalle_equipo['ram'] %}
                    <div class="form-group">
                        <label for="ram">RAM:</label>
                        <input type="text" class="form-control" id="ram" name="ram" value="{{ detalle_equipo['ram'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['procesador'] %}
                    <div class="form-group">
                        <label for="procesador">Procesador:</label>
                        <input type="text" class="form-control" id="procesador" name="procesador" value="{{ detalle_equipo['procesador'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['almc'] %}
                    <div class="form-group">
                        <label for="almc">Almacenamiento:</label>
                        <input type="text" class="form-control" id="almc" name="almc" value="{{ detalle_equipo['almc'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['perif'] %}
                    <div class="form-group">
                        <label for="perifericos">Periféricos:</label>
                        <input type="text" class="form-control" id="perif" name="perif" value="{{ detalle_equipo['perif'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['numsello'] %}
                    <div class="form-group">
                        <label for="numsello">Número de Sello:</label>
                        <input type="text" class="form-control" id="numsello" name="numsello" value="{{ detalle_equipo['numsello'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['numproducto'] %}
                    <div class="form-group">
                        <label for="numproducto">Número de Producto:</label>
                        <input type="text" class="form-control" id="numproducto" name="numproducto" value="{{ detalle_equipo['numproducto'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['tipoimpresion'] %}
                    <div class="form-group">
                        <label for="tipoimpresion">Tipo de Impresión:</label>
                        <input type="text" class="form-control" id="tipoimpresion" name="tipoimpresion" value="{{ detalle_equipo['tipoimpresion'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['cantidad'] %}
                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <input type="text" class="form-control" id="cantidad" name="cantidad" value="{{ detalle_equipo['cantidad'] }}">
                    </div>
                {% endif %}
            {% endif %}
            {% if tipo_equipo == 'celular' %}
                {% if detalle_equipo['imei1'] %}
                    <div class="form-group">
                        <label for="imei1">IMEI 1:</label>
                        <input type="text" class="form-control" id="imei1" name="imei1" value="{{ detalle_equipo['imei1'] }}">
                    </div>
                {% endif %}
                {% if detalle_equipo['imei2'] %}
                    <div class="form-group">
                        <label for="imei2">IMEI 2:</label>
                        <input type="text" class="form-control" id="imei2" name="imei2" value="{{ detalle_equipo['imei2'] }}">
                    </div>
                {% endif %}
                
                {% if detalle_equipo['ntelefono'] %}
                    <div class="form-group">
                        <label for="ntelefono">N° Telefono:</label>
                        <input type="text" class="form-control" id="ntelefono" name="ntelefono" value="{{ detalle_equipo['ntelefono'] }}">
                    </div>
                {% endif %}
            {% endif %}
            <div class="form-group">
                <label for="observaciones">Observaciones:</label>
                <textarea class="form-control" id="observaciones" name="observaciones" rows="3">{{ equipo.observaciones }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{{ url_for('mostrar_equipos') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
