<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Equipo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <div class="container">
        <h1>Editar Equipo</h1>
        <form method="POST">
            <div class="form-group">
                <label for="nombre_equipo">Nombre del Equipo:</label>
                <input type="text" class="form-control" id="nombre_equipo" name="nombre_equipo" value="{{ equipo.nombre }}" required>
            </div>
            <div class="form-group">
                <label for="tipo_equipo">Tipo de Equipo:</label>
                <select class="form-select" id="tipo_equipo" name="tipo_equipo" required>
                    {% for tipo_equipo in tipos_equipos %}
                        <option value="{{ tipo_equipo.id }}" {% if tipo_equipo.id == equipo.tipo_id %} selected {% endif %}>{{ tipo_equipo.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{{ url_for('mostrar_equipos') }}">
                <button type="button" class="btn btn-primary">Volver</button>
            </a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
