<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventario</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        .fixed-navbar .container {
            max-width: 1000px;
        }

        .fixed-navbar .navbar-brand img {
            max-width: 150px;
        }

        .fixed-navbar .navbar-nav .nav-item .nav-link {
            white-space: nowrap;
        }

        .fixed-navbar .dropdown-menu {
            min-width: 200px;
        }

        body {
            overflow-x: hidden;
        }

        .container {
            max-width: 1200px;
            margin: 20px auto;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .detalle-container {
            background-color: #f8f9fa;
            /* Color de fondo para los detalles */
        }


        .search-bar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }


        .align-middle {
            vertical-align: middle;
        }


        .align-middle {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <header>
        {% include 'menu.html' %}
    </header>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="rounded mx-2"
                viewBox="0 0 16 16">
                <path
                    d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="rounded mx-2"
                viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            </svg>
        </div>
        <h1 class="text-center mb-4">Gestión de Inventario</h1>

        <div class="row justify-content-between mb-3">
            <div class="col-md-6">
                <div class="btn-group">
                    <a href="{{ url_for('lista_equipos') }}" class="btn btn-outline-primary mb-3 mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-laptop" viewBox="0 0 16 16">
                            <path
                                d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5" />
                        </svg>
                        Equipos
                    </a>
                    <a href="{{ url_for('exportar_excel', search_term=search_term) }}"
                        class="btn btn-outline-success mb-3 mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                            <path
                                d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                            <path
                                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                        </svg>
                        Exportar a Excel
                    </a>

                    <a href="{{ url_for('exportar_pdf', search_term=search_term) }}"
                        class="btn btn-outline-danger mb-3 mr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z" />
                        </svg>
                        Exportar a PDF
                    </a>


                </div>
            </div>
            <div class="col-md-6 search-bar mb-3">
                <form method="POST" action="/" class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar..." name="search_term"
                            value="{{ search_term }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                                Buscar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container mt-3">
                        {% for category, message in messages %}
                            {% if 'asignar_equipo_success' in category %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Área</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{ persona.rut }}-{{ persona.dv }}</td>
                    <td>{{ persona.nombres }}</td>
                    <td>{{ persona.apellidos }}</td>
                    <td>{{ persona.correo }}</td>
                    <td>{{ persona.area_nombre }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark btn-sm detalle-btn btn-text-center"
                            data-target="detalle-{{ persona.id }}">
                            <div class="btn-content">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                                </svg>
                            </div>
                        </button>

                        <a href="{{ url_for('detalle_persona', persona_id=persona.id) }}"
                            class="btn btn-outline-info btn-sm detalle-btn ">
                            <div class="btn-content">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="btn-text-center" viewBox="0 0 16 16">
                                    <path
                                        d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                    <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                                Detalle
                            </div>
                        </a>

                        <form action="{{ url_for('asignar_equipo') }}" method="GET" style="display: inline-block;">
                            <input type="hidden" name="persona_id" value="{{ persona.id }}">
                            <button type="submit" class="btn btn-outline-primary btn-sm">
                                <div class="btn-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                    </svg>
                                    Asignar
                                </div>
                            </button>
                        </form>
                        <!--
                            <a href="{{ url_for('exportar_pdf_persona', persona_id=persona.id) }}" class="btn btn-outline-danger btn-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                                  </svg>
                                Generar PDF</a>
                            !-->
    </div>
    </td>
    </tr>
    <tr id="detalle-{{ persona.id }}" class="detalle-container" style="display: none;">
        <td colspan="6">
            <div class="equipos-container">
                <ul>
                    {% for equipo in persona.equipos_asignados %}
                    <li>
                        <a href="{{ url_for('detalle_equipo', equipo_id=equipo.equipo_id) }}">{{
                            equipo.nombre }} - {{ equipo.tipoequipo }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>

    


    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            // Obtener el mensaje de bienvenida de la plantilla
            var welcomeMessage = "{{ welcome_message }}";

            if (welcomeMessage) {
                // Mostrar un pop-up con el mensaje de bienvenida
                alert(welcomeMessage);
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.detalle-btn').click(function () {
                var targetId = $(this).data('target');
                $('#' + targetId).toggle();
            });
        });
    </script>
    <!-- <script src="{{ url_for('static', filename='logout_timeout.js') }}"></script>
    !-->


</body>

</html>