<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Equipos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .fixed-navbar .container {
            max-width: 1000px;
        }
        .fixed-navbar .navbar-brand img {
            max-width: 150px;
        }
        .fixed-navbar .navbar-nav .nav-item .nav-link {
            white-space: nowrap;
        }
        .fixed-navbar .dropdown-menu {
            min-width: 200px;
        }
        body {
            overflow-x: hidden;
        }
        .container {
            max-width: 1000px;
            margin: 20px auto;
        }
        .table-responsive {
            overflow-x: auto;
        }
        h1 {
            margin-bottom: 20px;
        }
        .table th, .table td {
            vertical-align: middle;
        }
        .btn-primary, .btn-secondary {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>

    <div class="container">
        <h1 class="text-center">Lista de Equipos</h1>
        
        <div class="row justify-content-center mb-3">
            <div class="col-md-10">
                <a href="{{ url_for('index') }}" class="btn btn-primary mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                      </svg>
                    Volver a Inicio</a>
                <form method="GET" action="{{ url_for('lista_equipos') }}">
                    <div class="form-row">
                        <div class="col-md-4 mb-2">
                            <input type="text" name="buscar" class="form-control" placeholder="Buscar por nombre" value="{{ request.args.get('buscar', '') }}">
                        </div>
                        <div class="col-md-3 mb-2">
                            <select name="tipo_equipo" class="form-control">
                                <option value="">Todos los tipos</option>
                                {% for tipo in tipos_equipo %}
                                <option value="{{ tipo.id }}" {% if request.args.get('tipo_equipo') == tipo.id %}selected{% endif %}>{{ tipo.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 mb-2">
                            <select name="estado" class="form-control">
                                <option value="">Todos los estados</option>
                                {% for estado in estados %}
                                <option value="{{ estado.id }}" {% if request.args.get('estado') == estado.id %}selected{% endif %}>{{ estado.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
                        </div>
                    </div>
                </form>
                

                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Tipo de Equipo</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos %}
                        <tr>
                            <td>{{ equipo.id }}</td>
                            <td>{{ equipo.tipo_equipo_nombre }}</td>
                            <td>{{ equipo.nombre_equipo }}</td>
                            <td>{{ equipo.estado_nombre }}</td>
                            <td>
                                <a href="{{ url_for('detalle_equipo', equipo_id=equipo.id) }}" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
                                        <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793zM1 7v3h14V7zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                                      </svg>
                                    Ver Detalle</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='logout_timeout.js') }}"></script>
</body>
</html>
