<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Equipos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>

    <div class="container">
        <h1>Lista de Equipos</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo de Equipo</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos %}
                        <tr>
                            <td>{{ equipo.id }}</td>
                            <td>{{ equipo.tipo_equipo_nombre }}</td>
                            <td>{{ equipo.nombre_equipo }}</td>
                            <td>{{ equipo.estado_nombre }}</td>
                            <td>
                                <a href="{{ url_for('detalle_equipo', equipo_id=equipo.id) }}" class="btn btn-primary">Ver Detalle</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ url_for('index') }}" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
