<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Equipos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>

    <div class="container">
        <h1>Listado de Equipos</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ url_for('agregar_equipo') }}" class="btn btn-primary mb-3">Agregar Equipo</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Modelo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos %}
                        <tr>
                            <td>{{ equipo.nombre_equipo }}</td>
                            <td>{{ equipo.tipo_nombre }}</td>
                            <td>{{ equipo.modelo }}</td>
                            <td>
                                <a href="{{ url_for('editar_equipo', id=equipo.id) }}" class="btn btn-primary btn-sm">Editar</a>
                                <form action="{{ url_for('eliminar_equipo', id=equipo.id) }}" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-danger btn-sm ml-1" onclick="return confirm('¿Estás seguro de que deseas eliminar este equipo?')">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
